* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.singup {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 140px;
}
.singup__image img {
    width: 805px;
    height: 781px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
.singup__form {
    width: 371px;
    height: 530px;
    gap: 48px;    
}

.singup__title {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 4%;  
    padding-bottom: 24px;  
}

.singup__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 48px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 14px;
    outline: none;
}

input:focus {
    border-bottom: 2px solid #000;
}

.btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
    width: 100%;
    padding: 12px;
    background-color: #e53935;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 0.8
}

    .google-btn {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;        
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 12px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-top: 16px;
      border-radius: 6px;
      cursor: pointer;
    }

    .google-btn img {
      width: 20px;
    }

.login-link {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;        
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #4D4D4D;
}

    .login-link a {
        font-family: "Poppins",sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 16px;        
      text-decoration: none;
      color: #000000;
      border-bottom: 1px solid #333;
      padding-bottom: 2px;
    }